<footer class="bg-dark text-center text-lg-start" style="color: aliceblue;">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase"> </h5>
  
          <p>
            At Tagme3a, we're committed to providing high-quality PC components and accessories 
            to our customers. Our selection includes the latest CPUs, graphics cards, 
            motherboards, and more from top brands such as Intel, AMD, NVIDIA, and ASUS.
             Whether you're a hardcore gamer, content creator, or simply looking to upgrade your existing system,
              we've got you covered. With fast and reliable shipping, excellent customer support, 
              and competitive prices, Tagme3a is your one-stop shop for all things PC-related.
          </p>
        </div>
  
        <!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0" >
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-light">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-light">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-light">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-light">Link 4</a>
            </li>
          </ul>
        </div>
   -->
        <!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-light">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-light">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-light">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-light">Link 4</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Company, Inc.
    </div>
  </footer>
  