<div class="container">
<!-- Add Product -->
    
    <div class="card text-center mt-3 mb-3">
      <div class="card-header bg-dark " style="color: white;">
        <h3> Add New Product</h3> 
      </div>
      <div class="card-body">
        <a routerLink="../add-product" class="btn btn-primary">Add</a>
      </div>
    </div>

<!-- End Add Product -->
        <!-- All Products -->
        <div class="card text-center mt-3 mb-3">
          <div class="card-header bg-dark" style="color: white;">
            <h3>All Products</h3>
          </div>
          <div  class="card-body">
            <div class="row justify-content-center">
              <div class="col-md-4" *ngFor="let product of products">
                <div class="card mb-4">
                  <img class="card-img-top" src="{{product.productImages}}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">Price: {{product.price}} $</p>
                    <p class="card-text">Description: {{product.description}}</p>
                    <a routerLink="../edit-product/{{product.id}}" class="btn btn-primary m-2">Edit</a>
                    <a routerLink="../product-details/{{product.id}}" class="btn btn-primary m-2">Detials</a>
                    <button class="btn btn-primary m-2" (click)="deleteProduct(product.id)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
    
    