<div class="container m-3">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body" style="height: 500px;" *ngIf="user">
            <img class="img-fluid rounded-circle" src="assets/Images/profile.png" alt="Profile Picture">
            <h5 class="card-title mt-3">{{user.fname + " " +user.lname }}</h5>
            <p class="card-text">Email: {{user.email}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body " style="height: 500px;" *ngIf="user">
            <h5 class="card-title">User Info</h5>
            <p class="card-text">UserName : {{user.userName}}</p>
            <p class="card-text">Mobile : {{user.phoneNumber}}</p>
            <button class="btn btn-primary profile-button" routerLink="../profileSetting" type="button">Edit Profile</button>
          </div>
        </div>


      </div>
    </div>
  </div>