<div class="container">        
        <!-- All Products -->
    <div class="card text-center mt-3 mb-3">
        <div class="card-header bg-dark " style="color: white;">
        <h3> MotherBoards </h3> 
        </div>
        <div class="card-body">
    <div class="row justify-content-center">

        <!-- Card1 -->

        <div class="col-md-4">
        <div class="card mb-4">
            <img class="card-img-top" src="assets/Images/Cpu.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Cpu gamed zo7le2a</h5>
            <p class="card-text">Price : 1252.54 $ </p>
            <a routerLink=""  class="btn btn-primary m-2">Add to Cart</a>
            <a href="#" class="btn btn-primary m-2">View Product</a>
            <a href="#" class="btn btn-primary m-2">Add to wishlist</a>

            </div>
        </div>
        </div>

        <!-- Card2 -->

        <div class="col-md-4">
        <div class="card mb-4">
            <img class="card-img-top" src="assets/Images/GPU.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">GPU gamed bgd</h5>
            <p class="card-text">Price : 1252.54 $ </p>
            <a routerLink=""  class="btn btn-primary m-2">Add to Cart</a>
            <a href="#" class="btn btn-primary m-2">View Product</a>
            <a href="#" class="btn btn-primary m-2">Add to wishlist</a>

            </div>
        </div>
    </div>

        <!-- Card3 -->

        <div class="col-md-4">
        <div class="card mb-4">
            <img class="card-img-top" src="assets/Images/Ram.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Ram 5ateraaaaaa</h5>
            <p class="card-text">Price : 1252.54 $ </p>
            <div>
            <a routerLink="../edit-product" class="btn btn-primary m-2">Add to Cart</a>
            <a href="#" class="btn btn-primary m-2">View Product</a>
            <a href="#" class="btn btn-primary m-2">Add to wishlist</a>

            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
        
        