<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form (ngSubmit)="getValue()" [formGroup] = "formValidation">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input formControlName="name" #name type="text" class="form-control" id="name" name="name">
            <div *ngIf="!NameValid" style="color: red; text-align: center;">
              Name Length should be greater than 3
            </div>
          </div>

          <div class="mb-3">
            <label for="orderinjourneymode" class="form-label">Order in Journey Mode</label>
            <input formControlName="orderinjourneymode" #orderinjourneymode type="number" class="form-control" id="orderinjourneymode" name="orderinjourneymode">
            <div *ngIf="!OrderInJourneyModeValid" style="color: red; text-align: center;">
              Order In Journey should Not Be Null
            </div>
          </div>


          <div class="mb-3" >
            <label for="injourneymode" class="form-label">In Journey Mode</label>
            <select formControlName="injourneymode" class="form-control" name="injourneymode" id="injourneymode" #injourneymode   >
              <option   value="1">True</option>
              <option   value="0">False</option>
            </select>
            <div *ngIf="!InJourneyModeValid" style="color: red; text-align: center;">
              Order In Journey should Not Be Null
            </div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea   formControlName="description" #description class="form-control" id="description" name="description"></textarea>
            <div *ngIf="!DescriptionValid" style="color: red; text-align: center;">
              Description Length should be greater than 3
            </div>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input formControlName="image" #image (change)="handleUpload($event)" type="file" class="form-control" id="image" name="image">
            <div *ngIf="!ImageValid" style="color: red; text-align: center;">
              You Didn't Enter an Image
            </div>
          </div>
          <input  type="submit"  value="Submit" class="btn btn-outline-success d-block mx-auto"/>

          <!-- <button type="submit" (click)="Add(name.value, description.value, image.value)" class="btn btn-primary d-block mx-auto">Add</button> -->
        </form>
      </div>
    </div>
  </div>
