<div class="container" *ngIf="product;">
<div class="card text-center mt-3 mb-3">
  <h5 class="text-center  display-1 mb-2">Product <span class="text-success">Details</span></h5>
  <div  class="card-body">
    <div class="row justify-content-center">
        <div class="col-sm-4">
          <!-- data-bs-ride="true" -->
          <div [attr.id]="'carouselExampleIndicators' + product.id" class=" carousel slide" >
            <div class="carousel-indicators">
              <button type="button" [attr.data-bs-target]="'#carouselExampleIndicators' + product.id" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" [attr.data-bs-target]="'#carouselExampleIndicators' + product.id" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" [attr.data-bs-target]="'#carouselExampleIndicators' + product.id" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div style="width: 280; height: 280;" class="carousel-item active">
                <img  src="{{'data:image/jpg;base64,' + product.productImages[0]}}" class="d-block w-100" alt="...">
              </div>
               <div style="width: 280; height: 280;" class="carousel-item">
                <img  src="{{'data:image/jpg;base64,' + product.productImages[1]}}" class="d-block w-100" alt="...">
              </div>
              <div style="width: 280; height: 280;" class="carousel-item">
                <img  src="{{'data:image/jpg;base64,' + product.productImages[2]}}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExampleIndicators' + product.id" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExampleIndicators' + product.id" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>

            </button>
          </div>
        </div>
        <div class="col-sm-4">
          <!-- <img class="card-img-top" src="{{'data:image/jpg;base64,' + product.productImages[0]}}" alt="Card image cap"> -->
          <div class="col-lg-9 card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">Price: {{product.price}} $</p>
            <p class="card-text">Description: {{product.description}}</p>
            <a class="btn btn-success m-2" (click)="Insert()"><i class="fas fa-cart-plus"></i></a>
            <!-- <a href="#" class="btn btn-success m-2">Add to wishlist</a> -->
          </div>
        </div>
    </div>
  </div>
</div>
</div>
<!-- <div *ngIf="product;" class="container">
  <div class="card text-center">
      <div  class="card-header">
        {{product.name}}
      </div>
      <div class="card-body">
        <p class="card-text">Name : {{product.name}}</p>
        <p class="card-text"> Description : {{product.description}}</p>
        <p class="card-text">Price : {{product.price}}</p>
        <p class="card-text"> Discount :  {{product.discount}}</p>
        <p class="card-text"> UnitInStocks : {{product.unitInStocks}}</p>
        <p class="card-text">Catgory : {{product.categoryID}}</p>
        <p class="card-text"> Brand: {{product.brandID}}</p>
        <a routerLink="../../../productManager/view-products" class="btn btn-primary">Back</a>
      </div>
    </div>
  </div> -->
