<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 ">
        <form>
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title">
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price">
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category">
              <option selected>Choose category</option>
              <option value="1">Category 1</option>
              <option value="2">Category 2</option>
              <option value="3">Category 3</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control" id="image">
          </div>
          <div class="text-center">
            <button class="btn btn-primary">Add</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
  