<section class="bg-light">
  <div class="container py-5">
      <div class="row text-center py-3">
          <div class="col-lg-6 m-auto">
            <h3 class="text-center fw-bold display-1 mb-5">Ready <span class="text-success">PC</span></h3>

              <p>
                 Here you can find a ready PC to buy
              </p>
          </div>
      </div>
      <div *ngIf="PCs; else loadingBlock" class="row">
          <div *ngFor="let p of PCs"  class="col-12 col-md-4 mb-4">
              <div class="card h-100" >
                  <a routerLink="../details-pc/{{p.id}}" >
                      <img src="{{'data:image/jpg;base64,' + p.image}}" class="card-img-top" alt="...">
                  </a>
                  <div class="card-body">
                      <ul class="list-unstyled d-flex justify-content-between">
                         Price  <li class="text-muted text-right"> {{p.totalPrice}}</li>
                      </ul>
                      <a routerLink="../details-pc/{{p.id}}" class="h2 text-decoration-none text-green">{{p.bundleName}}</a>
                      <p class="card-text"></p>
                  </div>
              </div>
          </div>
      </div>

      <ng-template #loadingBlock>
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
  
  </div>
</section>
