        <!-- All pcs -->
        <div class="card text-center mt-3 mb-3">
            <div class="card-header bg-dark " style="color: white;">
             <h3> Ready Tagme3a </h3>
            </div>
            <div  class="card-body">
        <div  class="row d-flex flex-row  justify-content-center">
              <!-- Card1 -->
            <div *ngFor="let p of PCs" class="col-sm-4 col-lg-4">
              <div class=" card mb-4">
                <img class="card-img-top" src="{{'data:image/jpg;base64,' + p.image}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{p.bundleName}}</h5>
                  <p class="card-text">TotalPrice : {{p.totalPrice}}</p>
                  <div  *ngFor="let prd of p.products">
                  <p class="card-text">Description : {{prd.description}}</p>
                  <p class="card-text">Name : {{prd.name}}</p>
                  <p class="card-text">quantity : {{prd.quantitiy}}</p>
              </div>
                  <a routerLink="../details-pc/{{p.id}}" class="btn btn-primary">Details</a>
                </div>
              </div>
            </div>
