<!-- <div *ngIf="catsLoaded" id="steps">
  <span *ngFor="let step of steps;let i = index" class="m-2" [ngClass]="i===selectedCategory?'fw-bold':''">
    <div class="bg-primary rounded-circle text-white text-center p-1 d-inline" [ngClass]="!step.visited?'bg-dark':''" >
      {{i+1}}
    </div>
    <a role="button" (click)="changeStepInfo(i)" class="nav-link d-inline" [class.disabled]="!step.visited" [ngClass]="step.visited?'active text-primary':''">
      {{step.name}}
    </a>
  </span>
</div>
<div *ngIf="finish">
  <button class="btn btn-success" (click)="finishBuy()">finish</button>
</div>
<div class="row" *ngIf="catsLoaded">
  <div *ngIf="selectedCategory>0 && steps[selectedCategory]; else budget" class="col-10">
    {{steps[selectedCategory].description}}
    <label>price</label>
    <input #price type="number" class="form-control w-25" min="1" value="1000">
    <label>quantity</label>
    <input #quantity type="number" class="form-control w-25" min="1" value="1">
    <button class="btn btn-success" (click)="getProducts(+price.value)">filter</button>
    <div *ngIf="filterPriceHigh" class="alert alert-warning w-25">entered price are higher than remaining money</div>
    <div *ngFor="let prd of products" (click)="selectProduct(prd,+quantity.value)">
      {{prd.name}} : {{prd.price}}$ : {{prd.discount}}$
    </div>
  </div> -->

<!--
  //Add quantity
  //check returning to the same category and change product
  //check filter price with more than remaining money
  //check buying with more than remaining money
  check make user choose to proceed if he exceeded money and increase total
  check changed total money after buying some products
  handle last step make it a new step
  //enhance Ui
-->
  <!-- <ng-template #budget class="col-10">
    <input class="form-control w-25" type="number" [(ngModel)]="totalPrice" min="1000">
    <div *ngIf="lowPrice" class="alert alert-danger w-25">not avaliable for less than 10,000$</div>
    <button class="btn btn-success w-25" (click)="nextStep()">Let's go!</button>
  </ng-template>


  <div class="col-2">
    <div>
      Budget:{{totalPrice}}
    </div>
    <div>
      Remaining:{{remainingPrice}}
    </div>
    <div *ngFor="let prd of selectedProducts">
      {{prd.product.name}} x {{prd.quantity}}
    </div>
  </div>
</div> -->


<div class="container">
  <div class="row mt-4">
    
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div *ngIf="catsLoaded" id="steps">
            <div class="d-flex justify-content-between">
              <div>
                <h5 class="card-title">Steps</h5>
              </div>
              <div>
                 <div class="d-flex align-items-center" *ngIf="!proceedAfterExceeded">
                  <span class="me-2"  *ngIf="remainingPrice>0;else insufficient">Remaining:</span>
                  <span>{{remainingPrice}}</span>
                </div>

                <ng-template #insufficient>
                  Remaining: insufficient money
                </ng-template>
          
                <div class="d-flex align-items-center" *ngIf="!proceedAfterExceeded;else totalAfterProceed">
                  <span class="me-2">Budget:</span>
                  <span>{{totalPrice}}</span>
                </div> 
                <ng-template #totalAfterProceed>
                  Total cost:{{totalCost}}
                </ng-template>
            
              </div>
            </div>
            <hr> 

            <div class="row">
              <div class="col-12">
                <div class="nav nav-pills flex-column flex-sm-row justify-content-start mb-2">
                  <span *ngFor="let step of steps;let i = index" >
                    <a role="button" (click)="changeStepInfo(i)" class="btn m-1" [ngClass]="[i===selectedCategory?'btn-success':'' , !step.visited?'btn-outline-dark disabled' :'' , step.visited && i!==selectedCategory? 'btn-outline-success':'']">
                      <div class="d-flex align-items-center">
                        <div class="bg-primary rounded-circle text-white text-center me-2 p-1"   [ngClass]="[i===selectedCategory?'bg-success':'' , !step.visited?'bg-dark disabled' :'' , step.visited && i!==selectedCategory? 'bg-success':'']">
                          {{i+1}}
                        </div>
                        {{step.name}}
                      </div>
                    </a>
                  </span>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="selectedCategory>0 && steps[selectedCategory]; else budget">
              <div class="col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">{{steps[selectedCategory].name}}</h5>
                    <p class="card-text">{{steps[selectedCategory].description}}</p>
                    
                    <form>
                      <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input #price type="number" class="form-control" min="1" value="1000" id="price">
                      </div>

                      <button type="button" class="btn btn-success" (click)="getProducts(+price.value)">Filter</button>

                      <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input #quantity type="number" class="form-control" min="1" value="1" id="quantity">
                      </div>
                      <div *ngIf="noUnits" class="alert alert-danger mt-2">we don't have enough unit for this product</div>

                    </form>
                    <div *ngIf="!proceedAfterExceeded && filterPriceHigh" class="alert alert-warning mt-2">Entered price is higher than remaining budget
                    </div>
                    <div class="container">
                      <div class="row" *ngIf=" products.length>0 ;else produtless">
                        <div class="col-md-4" *ngFor="let prd of products"  (click)="selectProduct(prd, +quantity.value)">
                          <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="{{'data:image/jpg;base64,' + prd.productImages[0]}}" alt="{{prd.name}}">
                            <div class="card-body">
                              <h5 class="card-title">{{prd.name}}</h5>
                              <p class="card-text" *ngIf="prd.discount == 0 else sale">{{prd.price}}$ </p>
                              <ng-template #sale>
                                <p class="card-text" style="display: inline-block;font-size: x-large;margin-right: 20px;">    {{prd.price - prd.discount}}$</p>
                                <p class="card-text" style="text-decoration: line-through ; display: inline-block;  color: red;">{{prd.price}}$</p>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <ng-template #produtless >
                         <div *ngIf="isSearched" class="alert alert-danger mt-2">Not found product in range {{price.value}}</div>
                      </ng-template>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            
              <ng-template #budget class="row">
                <div class="mb-3">
                  <label for="totalPrice" class="form-label">Total Price</label>
                  <input class="form-control" type="number" [(ngModel)]="totalPrice" min="1000" id="totalPrice">
                  <div *ngIf="lowPrice" class="alert alert-danger mt-2">Minimum budget is 10,000$</div>
                  <div *ngIf="lowPRiceBcRemaining" class="alert alert-danger w-25">you can't make total price less than total cost ({{totalCost}})</div>

                </div>
                <button class="btn btn-success w-100" (click)="nextStep()">Start Shopping</button>
              </ng-template>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Products</h5>
          <div class="row">
            <div *ngFor="let prd of selectedProducts">
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">{{prd.product.name}}</h5>
                  <p class="card-text">Quantity: {{prd.quantity}}</p>
                  <!-- <img class="card-img-top" src="{{'data:image/jpg;base64,' + prd.productImages[0]}}" alt="{{prd.name}}"> -->
                </div>
              </div>
            </div>
            <button class="btn btn-success w-100 "  (click)="finishBuy()">Finish shopping</button>

            <!-- </div> -->
          </div>
          <div class="mb-3">

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
          
<div class="modal" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Exceed Budget</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>You exceed your remaining budget Do you want to continue or not ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-success" (click)="exceedBudget()">Yes</button>
      </div>
    </div>
  </div>
</div>