<div class="container mt-3 mb-3">
<div class="row">


    <!-- Manage Category -->
    <div class="col-sm-6 text-center ">
        <div class="card text-center mt-3 mb-3">
            <div class="card-header bg-dark " style="color: white;">
              <h3> Product</h3>
            </div>
            <div class="card-body">
              <h5 class="card-title">Manage Products</h5>
              <a routerLink="../productManager/view-products" class="btn btn-primary">Go</a>
            </div>
          </div>
    </div>

    <!-- Manage Product -->

    <div class="col-sm-6">
        <div class="card text-center mt-3 mb-3">
            <div class="card-header bg-dark " style="color: white;">
              <h3> Category</h3>

            </div>
            <div class="card-body">
              <h5 class="card-title">Manage Category</h5>
              <a routerLink="../categoryManager/view-categories" class="btn btn-primary">Go</a>
            </div>
          </div>
    </div>
  </div>

</div>


<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-center mt-3 mb-3">
          <div class="card-header bg-dark " style="color: white;">
            <h3> Category</h3>

          </div>
          <div class="card-body">
            <h5 class="card-title">Manage Orders</h5>
            <a routerLink="../Order/order-manager" class="btn btn-primary">Go</a>
          </div>
        </div>
  </div>
</div>
    </div>

