<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 ">
        <form #editProductForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="product">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name" required>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" [(ngModel)]="product.description"></textarea>
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" id="price" name="price" [(ngModel)]="product.price" required>
          </div>
          <div class="form-group">
            <label for="discount">Discount:</label>
            <input type="number" class="form-control" id="discount" name="discount" [(ngModel)]="product.discount">
          </div>
          <div class="form-group">
            <label for="unitInStocks">Units in Stock:</label>
            <input type="number" class="form-control" id="unitInStocks" name="unitInStocks" [(ngModel)]="product.unitInStocks" required>
          </div>
          <div class="form-group">
            <label for="categoryID">Category ID:</label>
            <input type="number" class="form-control" id="categoryID" name="categoryID" [(ngModel)]="product.categoryID" required>
          </div>
          <div class="form-group">
            <label for="brandID">Brand ID:</label>
            <input type="number" class="form-control" id="brandID" name="brandID" [(ngModel)]="product.brandID">
          </div>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
        
      </div>
    </div>
  </div>
  