<div class="container">
  <!-- Add Brand -->

      <div class="card mt-3 mb-3">
        <div class="card-body justify-content-start">
          <a routerLink=".../brandManager/add-brand" class="btn btn-success">Add New Brand</a>
        </div>

      </div>

  <!-- End Add Brand -->


          <!-- All Brands -->
          <div class="card text-center mt-3 mb-3">
            <h5 class="text-center  display-1 mb-2">All <span class="text-success">Brands</span></h5>

            <div  class="card-body">
        <div class="row d-flex flex-row  justify-content-center">
              <!-- Card1 -->
            <div *ngFor="let c of brands" class="col-sm-4 col-lg-4">
              <div class=" card mb-4">
                <img class="card-img-top" src="{{'data:image/jpg;base64,' + c.logo}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{c.name}}</h5>
                  <p class="card-text">{{c.description}}</p>
                  <a routerLink="../brandManager/edit-brand/{{c.brandId}}"  class="btn btn-success m-2">Edit</a>
                  <a routerLink="../brandManager/delete-brand/{{c.brandId}}" class="btn btn-danger m-2">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>

