<div class="container">
  <!-- Add Brand -->

      <div class="card text-center mt-3 mb-3">
        <div class="card-header bg-dark " style="color: white;">
          <h3> Add New Brand</h3>

        </div>
        <div class="card-body">
          <a routerLink="../add-brand" class="btn btn-primary">Add</a>
        </div>
      </div>

  <!-- End Add Brand -->


          <!-- All Brands -->
          <div class="card text-center mt-3 mb-3">
            <div class="card-header bg-dark " style="color: white;">
             <h3> All Brands </h3>
            </div>
            <div  class="card-body">
        <div class="row d-flex flex-row  justify-content-center">
              <!-- Card1 -->
            <div *ngFor="let c of brands" class="col-sm-4 col-lg-4">
              <div class=" card mb-4">
                <img class="card-img-top" src="{{'data:image/jpg;base64,' + c.logo}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{c.name}}</h5>
                  <p class="card-text">{{c.description}}</p>
                  <a routerLink="../edit-brand/{{c.brandId}}"  class="btn btn-primary m-2">Edit</a>
                  <a routerLink="../delete-brand/{{c.brandId}}" class="btn btn-primary m-2">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>

