<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form (ngSubmit)="getValue()" [formGroup] = "formValidation">
          <div class="mb-3">
            <label for="categoryId" class="form-label">Category ID</label>
            <input disabled="true" type="text" class="form-control" id="categoryId" name="categoryId"  [(ngModel)] = "category.categoryId" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input formControlName="name" type="text" class="form-control" id="name" name="name"  [(ngModel)] = "category.name">
            <div *ngIf="!NameValid" style="color: red; text-align: center;">
              Name Length should be greater than 3
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea formControlName="description" class="form-control" id="description" name="description"  [(ngModel)] = "category.description"></textarea>
            <div *ngIf="!DescriptionValid" style="color: red; text-align: center;">
              Description Length should be greater than 3
            </div>
          </div>
          <div class="mb-3">
            <label for="imagePic" class="form-label">Category Image</label>
            <img width="200" height="200" id="ImagePic" alt="catPic" class="profile-pictue" src="{{'data:image/jpg;base64,' + category.image}}" />
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" accept="image/*" class="form-control" id="image" name="image"  (change)="handleUpload($event)" >
          </div>
          <input  type="submit"  value="Submit" class="btn btn-outline-success d-block mx-auto"/>

          <!-- <button type="submit" (click)="Update()" class="btn btn-primary d-block mx-auto">Edit</button> -->
        </form>
      </div>
    </div>
  </div>
