<div class="container-fluid">
  <div class="row ">
    <div class="col-md-2 bg-dark">
      <nav class="col-md-2 sidebar-container bg-dark ">
        <ul class="sidebar-nav">

          <div class="container">
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="/admin/dashboard" 
             (click)="showDashboardComponent = true; 
             showProductComponent = false;
             showbrandComponent=false; 
             showCategoryComponent =false;
             showOrderComponent = false;
             showPcComponent =false ">
              <i class="fa fa-Main"></i>
              <span class="sidebar-text">Main</span>
            </a>
          </li>
        </div>
          <li class="sidebar-item" routerLinkActive="active" >
            <a class="sidebar-link"
            (click)="showDashboardComponent = false; 
            showProductComponent = true; 
            showbrandComponent = false;
            showCategoryComponent = false;
            showOrderComponent = false;
            showPcComponent =false">
              <i class="fa fa-cogs"></i>
              <span class="sidebar-text">Product</span>
            </a>
          </li>

          <li class="sidebar-item" routerLinkActive="active" >
            <a class="sidebar-link" 
            (click)="showDashboardComponent = false;
            showProductComponent = false ;
            showbrandComponent = true ; 
            showCategoryComponent = false;
            showOrderComponent = false;
            showPcComponent =false">
              <i class="fa fa-cogs"></i>
              <span class="sidebar-text">Brand</span>
            </a>
          </li>


          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" 
            (click)="showDashboardComponent = false; 
            showProductComponent = false; 
            showbrandComponent=false; 
            showCategoryComponent = true;
            showOrderComponent = false;
            showPcComponent =false">
              <i class="fa fa-cogs"></i>
              <span class="sidebar-text">Category</span>
            </a>
          </li>

          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" 
            (click)="showDashboardComponent = false; 
            showProductComponent = false; 
            showbrandComponent=false;
            showCategoryComponent = false; 
            showOrderComponent = true;
            showPcComponent =false">
              <i class="fa fa-cogs"></i>
              <span class="sidebar-text">Order</span>
            </a>
          </li>

          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" 
            (click)="showDashboardComponent = false; 
            showProductComponent = false; 
            showbrandComponent=false;
            showCategoryComponent = false; 
            showOrderComponent = false;
            showPcComponent =true">
              <i class="fa fa-cogs"></i>
              <span class="sidebar-text">PC</span>
            </a>
          </li>

          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" (click)="onLogout()" 
            (click)="showDashboardComponent = false; 
            showProductComponent = false; 
            showbrandComponent=false;
            showCategoryComponent = false; 
            showOrderComponent = false;
            showPcComponent =true">
              <i class="fa fa-cogs"></i>
              <span class="sidebar-text">Logout</span>
            </a>
          </li>

        </ul>
      </nav>
    </div>
    <div class="col-md-10">
      <div class="dashboard-container">

        <div class="Main-container" *ngIf="showDashboardComponent">
          <app-admin-dashboard-main></app-admin-dashboard-main>
        </div>

        <div class="Product-container" *ngIf="showProductComponent">
          <app-view-products></app-view-products>
        </div>

        <div class="Brand-container" *ngIf="showbrandComponent">
          <app-view-brands></app-view-brands>
        </div>

        <div class="Cat-container" *ngIf="showCategoryComponent">
          <app-view-categories></app-view-categories>
        </div>
        <div class="Order-container"  *ngIf="showOrderComponent">
          <app-order-manager></app-order-manager>
        </div>

        <div class="Pc-container" *ngIf="showPcComponent">
          <app-view-pc></app-view-pc>
        </div>

      </div>
    </div>
  </div>
</div>