<div class="container">
<!-- Joureny Mode -->

<div class="card text-center mt-3 mb-3">
  <div class="card-header bg-dark " style="color: white;">
    <h3> Journey Mode</h3> 

  </div>
  <div class="card-body">
    <h5 class="card-title">Make your custom PC</h5>
    <p class="card-text">Want to choose your favourite parts , here we go </p>
    <a href="#" class="btn btn-primary">Go</a>
  </div>
</div>
<!--End Joureny Mode -->


    <!-- Ready Tagme3a -->
    <!-- <div class="card text-center mt-3 mb-3">
      <div class="card-header bg-dark " style="color: white;">
       <h3> Ready Tagme3a </h3> 
      </div>
      <div class="card-body">
  <div class="row justify-content-center">
        <!-- Card1 -->
      <!-- <div class="col-md-4">
        <div class="card mb-4">
          <img class="card-img-top" src="assets/Images/1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Gaming PC</h5>
            <p class="card-text">Play your favorite games with the best graphics and performance on our gaming PCs.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
 -->
        <!-- Card2 -->

      <!-- <div class="col-md-4">
        <div class="card mb-4">
          <img class="card-img-top" src="assets/Images/2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Gaming PC</h5>
            <p class="card-text">Get the edge you need to dominate your opponents with our custom-built gaming PCs.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
 -->
        <!-- Card3 -->

      <!-- <div class="col-md-4">
        <div class="card mb-4">
          <img class="card-img-top" src="assets/Images/3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Gaming PC</h5>
            <p class="card-text">Discover the ultimate gaming experience with our advanced gaming computers. Game like a pro </p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div> -->
    <!-- <display-pc></display-pc> -->
<app-display-pc></app-display-pc>
  <!-- Categories -->


  <div class="card text-center mt-3 mb-3">
    <div class="card-header bg-dark " style="color: white;">
     <h3> Categories </h3> 
    </div>
    <div class="card-body">
<div class="row justify-content-center">
      <!-- Card1 -->
    <div class="col-md-4">
      <div class="card mb-4">
        <img class="card-img-top" src="assets/Images/MotherBoard.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">MotherBoards</h5>
          <p class="card-text">Play your favorite games with the best graphics and performance on our gaming PCs.</p>
          <a routerLink="../products" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>

      <!-- Card2 -->

    <div class="col-md-4">
      <div class="card mb-4">
        <img class="card-img-top" src="assets/Images/Ram.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rams</h5>
          <p class="card-text">Get the edge you need to dominate your opponents with our custom-built gaming PCs.</p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>

      <!-- Card3 -->

    <div class="col-md-4">
      <div class="card mb-4">
        <img class="card-img-top" src="assets/Images/Cpu.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">CPUs</h5>
          <p class="card-text">Discover the ultimate gaming experience with our advanced gaming computers. Game like a pro </p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>

      <!-- Card4 -->

    <div class="col-md-4">
      <div class="card mb-4">
        <img class="card-img-top" src="assets/Images/HardDisk.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">HardDisks</h5>
          <p class="card-text">Discover the ultimate gaming experience with our advanced gaming computers. Game like a pro </p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>



      <!-- Card5 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <img class="card-img-top" src="assets/Images/GPU.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Gpus</h5>
            <p class="card-text">Discover the ultimate gaming experience with our advanced gaming computers. Game like a pro </p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>

      <!-- End card 5 -->

    </div>
  </div>
</div>





</div>

