
            <!-- PC -->
            <div class="card text-center mt-3 mb-3">
                <div class="card-header bg-dark " style="color: white;">
                 <h3> PC </h3>
                </div>
                <div  class="card-body">
            <div  class="row d-flex flex-row  justify-content-center">
                  <!-- Card1 -->
                <div *ngIf="pc" class="col-sm-4 col-lg-4">
                  <div class=" card mb-4">
                    <img class="card-img-top" src="{{'data:image/jpg;base64,' + pc.image}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{pc.bundleName}}</h5>
                      <p class="card-text">TotalPrice : {{pc.totalPrice}}</p>
                      <div *ngFor="let prd of pc.products">
                      <p class="card-text">Description : {{prd.description}}</p>
                      <p class="card-text">Name : {{prd.name}}</p>
                      <p class="card-text">quantity : {{prd.quantitiy}}</p>
                      <p class="card-text">Price : {{prd.price}}</p>
                  <p class="card-text">categoryName : {{prd.categoryName}}</p>
                  <p class="card-text">brandName : {{prd.brandName}}</p>
                  <img class="card-img-top" src="{{'data:image/jpg;base64,' + prd.image}}" alt="Card image cap">

                  </div>
                      <a routerLink="/pcs"  class="btn btn-primary m-2">Back to PCs</a>
                    </div>
                  </div>
                </div>