
<!-- PC -->
<!-- <div class="card text-center mt-3 mb-3">
    <div class="card-header bg-dark " style="color: white;">
      <h3> PC </h3>
    </div>
    <div  class="card-body">
<div  class="row d-flex flex-row  justify-content-center"> -->
      <!-- Card1 -->
    <!-- <div *ngIf="pc" class="col-sm-4 col-lg-4">
      <div class=" card mb-4">
        <img class="card-img-top" src="{{'data:image/jpg;base64,' + pc.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{pc.bundleName}}</h5>
          <p class="card-text">TotalPrice : {{pc.totalPrice}}</p>
          <div *ngFor="let prd of pc.products">
          <p class="card-text">Description : {{prd.description}}</p>
          <p class="card-text">Name : {{prd.name}}</p>
          <p class="card-text">quantity : {{prd.quantitiy}}</p>
          <p class="card-text">Price : {{prd.price}}</p>
      <p class="card-text">categoryName : {{prd.categoryName}}</p>
      <p class="card-text">brandName : {{prd.brandName}}</p>
      <img class="card-img-top" src="{{'data:image/jpg;base64,' + prd.image}}" alt="Card image cap">

      </div>
      <a routerLink="/pcs" class="h2 text-decoration-none text-green">Back to PCs</a>
        </div>
      </div>
    </div> -->




    <section class="bg-light">
      <div *ngIf="pc" class="container pb-5">
        <div class="row">
          <div class="col-lg-5 mt-5">
            <div class="card mb-3 text-center">
              <h1 class="h2">{{pc.bundleName}}</h1>
              <p class="h3 py-2">{{pc.totalPrice}}$</p>
              <img class="card-img img-fluid"src="{{'data:image/jpg;base64,' + pc.image}}" alt="Card image cap" id="product-detail">
            </div>
          </div>
    
          <div *ngFor="let prd of pc.products" class="col-lg-7 mt-5">
            <div class="card">
              <div class="row">
                <div class="col-lg-4">
                  <img class="card-img img-fluid"src="{{'data:image/jpg;base64,' + pc.image}}" alt="Card image cap" id="product-detail">
                </div>
                <div class="col-lg-8">
                  <div class="card-body">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <h6>Brand:</h6>
                      </li>
                      <li class="list-inline-item">
                        <p class="text-muted"><strong>{{prd.brandName}}</strong></p>
                      </li>
                    </ul>
    
                    <h6>Description:</h6>
                    <p>{{prd.description}}</p>
                    <h6>Name:</h6>
                    <p>{{prd.name}}</p>
                    <h6>Category:</h6>
                    <p>{{prd.categoryName}}</p>
                    <h6>Price:</h6>
                    <p>{{prd.price}}$</p>
                    <form action="" method="GET">
                      <div class="row">
                        <div class="col-auto">
                          <ul class="list-inline pb-3">
                            <li class="list-inline-item text-center">
                              Quantity :
                              <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                            </li>
                            <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">{{prd.quantitiy}}</span></li>
                          </ul>
                        </div>
                      </div>
                      <div class="row pb-3">
                        <div class="col-5 d-grid">

                        <!-- <a class="btn btn-success text-white mt-2" href=""><i class="far fa-eye"></i></a> -->
                          <!-- <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Details</button> -->
                        </div>
                    
                        <div class="col-12 d-grid">
                        <a class="btn btn-success text-white mt-2" *ngIf="!pc.addedToCart" (click)="addToCart(pc.id)"><i class="fas fa-cart-plus"></i></a>

                          <!-- <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Add To Cart</button> -->
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
